<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>HabiTrain | Overcome Bad Habits</title>
</head>
<body class="about-us-page">
  <!-- Navigation Bar -->
  {% include '/components/navbar.html' %}

  <!-- Hero Section -->
  <section id="hero" class="hero-section">
    <div class="container">
      <div class="heading-wrapper">
        <!-- Heading Text -->
    <div class="hero-content fade-in">
      <h1>
        <span class="text-xlarge">Hey,</span>
      </h1>
          <h2 class="heading-content">
            <span class="text-normal">We are</span>
            <span class="text-large">HabiTrain!!!</span>
          </h2>
        
        </div>
        <!--Heading iamge-->
        <div class="heading-image-wrapper fade-in">
          <img
            loading="lazy"
            id="hero-image"
            src="{{ url_for('static', filename='images/about us/bad-habits-cartoon-concept-with-unhealthy-addiction-symbols-vector-illustration_1284-80087.svg') }}"
            alt="Cartoon illustrating bad habits and unhealthy addictions"
            class="heading-image"
          />
        </div>
      </div>
      <!-- Welcome Text -->
      <p id="welcome-text" class="welcome-text fade-in">
        Welcome to HabiTrain, your partner in building a healthier and more fulfilling life. By combining journaling,
        habit tracking, and interactive features, we help you break harmful habits, develop positive ones, and stay
        motivated to become your best self.
        </p>
      
    </div>
  </section>
  
  
    <!-- Footer and Wave Section -->
    {% include '/components/wave.html' %}
    {% include '/components/footer.html' %}
    {% include '/components/footer-bottom.html' %}

    

    <!-- Html Code for Modals / Popups -->
    {% include '/components/modals.html' %}


  <script>
  document.addEventListener('DOMContentLoaded', () => {
    runAllFunctions("{{ companion }}");
  });
</script>

</body>
</html>