<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>HabiTrain | Overcome Bad Habits</title>
</head>
<body>
  <!-- Navigation Bar -->
  <header>
    <nav class="navbar">
      <div class="navbar-content">
        <a href="{{ url_for('views.index') }}"><div class="logo-container">
            <img src="{{url_for('static', filename='images/logo.png')}}" class="logo filtered">
            <span>HabiTrain</span>
        </div></a>
        <div class="nav-links">
            <a href="{{ url_for('views.index') }}" class="nav-link-active">Home</a>
            <a href="#">About Us</a>
            <a href="#">Contact</a>
        </div>
       
        <div class="nav-btns">
            <img src="{{url_for('static', filename='images/plant.jpg')}}" id="companion-image" class="profile-icon" alt="cannot" onclick="toggleMenu()">
            <div class = "sub-menu-container" id="sub-menu-container">
              <div class="sub-menu">
                <div class = "user-info">
                  <img src="{{url_for('static', filename='images/dog.png')}}">
                  <h1> {% if username %} {{ username }} {% else %} Username {% endif %}</h1>
                </div>
                <hr>

                <a href="#" class="sub-menu-link">
                  <img src="{{url_for('static', filename='images/settings.png')}}">
                  <p class="sub-menu-link-active">Settings</p>
                  <span>></span>
                </a>

                <a href="#" class="sub-menu-link">
                  <img src="{{url_for('static', filename='images/home.png')}}">
                  <p>Companion Hub</p>
                  <span>></span>
                </a>

                <a href="#" class="sub-menu-link">
                  <img src="{{url_for('static', filename='images/logout.png')}}">
                  <p>Log out</p>
                  <span>></span>
                </a>
              </div>
            </div>       
        </div>
      </div>
    </nav>
</header>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        showCorrectCompanionIcon("{{ companion }}");
    });
</script>

</body>
</html>