<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>HabiTrain | Overcome Bad Habits</title>
</head>
<body>
  
  <!-- Navigation Bar -->
  <header>
    <nav class="navbar">
      <div class="navbar-content">
        <a href="{{ url_for('views.index') }}"><div class="logo-container">
            <img src="{{url_for('static', filename='images/logo.png')}}" class="logo">
            <span>HabiTrain</span>
        </div></a>
        <div class="nav-links">
            <a href="{{ url_for('views.index') }}">Home</a>
            <a href="#">About Us</a>
            <a href="#" class="nav-link-active">Contact</a>
        </div>
       
        <div class="nav-btns">
          {% if user_logged_in %}
            {% if companion_image_url %}
            <img src="{{url_for('static', filename='images/user-icon.png')}}" class="profile-icon" onclick="toggleMenu()">
            {% else %}
              <img src="{{url_for('static', filename='images/user-icon.png')}}" class="profile-icon" onclick="toggleMenu()">
            {% endif %}
            <div class = "sub-menu-container" id="sub-menu-container">
              <div class="sub-menu">
                <div class = "user-info">
                  <img src="{{url_for('static', filename='images/dog.png')}}">
                  <h1> {% if username %} {{ username }} {% else %} Username {% endif %}</h1>
                </div>
                <hr>

                <a href="#" class="sub-menu-link">
                  <img src="{{url_for('static', filename='images/settings.png')}}">
                  <p>Settings</p>
                  <span>></span>
                </a>

                <a href="#" class="sub-menu-link">
                  <img src="{{url_for('static', filename='images/home.png')}}">
                  <p>Companion Hub</p>
                  <span>></span>
                </a>

                <a href="#" class="sub-menu-link">
                  <img src="{{url_for('static', filename='images/logout.png')}}">
                  <p>Log out</p>
                  <span>></span>
                </a>
              </div>
            </div>              
          {% else %}
            <button class="btn btn-secondary top-bar-btn" id="sign-in-link">Sign in</button>
            <button href="#" class="btn btn-primary top-bar-btn" id="registration-link">Register</button>
          {% endif %}
        </div>
      </div>
    </nav>
</header>


  <!-- Hero Section -->
  <section id="hero" class="hero-section">
    <div class="hero-content fade-in">
      <h1>
        Contact
        <span class="hero-title-highlight">HabiTrain</span>
      </h1>
      <p>Feel Free to write anything....</p>
    </div>
  </section>

</body>
</html>