  <!-- Footer section -->
  <footer id="footer" class="footer slide-up">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="{{ url_for('static', filename='images/logo-ex7.png') }}" class="brand-logo">
        <span>HabiTrain</span>
      </div>
      
      <div class="footer-section">
        <h5>Explore</h5>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h5>Follow Us</h5>
        <div class="social-links">
          <a href="#"><img src="{{ url_for('static', filename='images/instagram-icon.svg') }}" class="social-icon"></a>
        </div>
      </div>

      <div class="footer-section">
        <h5>Support</h5>
        <img src="{{ url_for('static', filename='images/support-icon.png') }}" class="social-icon">
      </div>
    </div>
  </footer>