<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>HabiTrain | Overcome Bad Habits</title>
</head>
<body>
  <!-- Navigation Bar -->
  {% include '/components/navbar.html' %}

  <!-- Hero Section -->
  <section id="hero" class="hero-section">
    <div class="hero-content fade-in">
      <h1>
        Leave Bad Habits Behind with 
        <span class="hero-title-highlight">HabiTrain</span>
      </h1>
      <img src="{{url_for('static', filename='images/hero-image.png')}}" class="hero-img">
      <p>Break free from what's holding you back. Start your journey to a healthier, happier you today.</p>
      <button href="#" id="registration-link" class="btn get-started-btn">Get Started</button>
    </div>
  </section>

  <!-- Slider -->
   <section class="slider-section">
    <div class="slider slide-up">
      <div id="slider-container-1" class="slider-container"></div>
    </div>
    <div class="slider slide-up">
      <div id="slider-container-2" class="slider-container"></div>
    </div>
</section>

  
<!-- Features section -->
  <section id="features" class="features-section">
    <div class="features-container">
      <h2 class="fade-in">What's in here for you?</h2>
      <p class="fade-in">Take control of your future. Set goals, track progress, and embrace the journey to the best version of yourself!</p>
      <div class="features-grid">
        <div class="feature-card feature-card-primary slide-up">
          <h3>Transform Your Habits</h3>
          <p>It's not about perfection, it's about progress. HabiTrain helps you build meaningful habits — start small, stay consistent, and transform your life.</p>
        </div>
        <div class="feature-card feature-card-secondary slide-up">
          <h3>Stay Motivated, Every Single Day</h3>
          <div class="feature-with-img">
            <p>Stay on track with daily check-ins, prompts, and progress tracking, all while watching your companion grow alongside you. Each day you show up is another step closer to your goals — and theirs.</p>
            <img src="{{url_for('static', filename='images/calendar.png')}}" class="feature-img">
          </div>
        </div>
        <div class="feature-card feature-card-tertiary slide-up">
          <h3>Grow Together with Personalized Support</h3>
          <div class="feature-with-img">
            <p>Just as a plant blooms with care, your journey thrives here. HabiTrain offers personalized support to help you stay focused and stay on course when challenges arise, bringing you closer to your goals with every step.</p>
            <img src="{{url_for('static', filename='images/support-1.png')}}" class="feature-img">
          </div>
        </div>
        <div class="feature-card feature-card-quaternary slide-up">
          <h3>Celebrate Your Wins</h3>
          <p>Every victory counts, no matter how small. HabiTrain celebrates every achievement, motivating you to keep going.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- How it works section - Or some steps to show the user -->
  <section id="how-it-works" class="how-it-works">
    <h2 class="fade-in">Your Habit-Breaking Journey</h2>
  
    <div class="how-it-work-container slide-up">
      <div class="hiw-card">
        <img src="{{url_for('static', filename='images/screenshot-placeholder.jpg')}}" class="hiw-img">
        <div class="hiw-number-wrap"><div>1</div></div>
        <div class="step-content">
          <h3 class="highlight">Get Started</h3>
          <p>Sign up and create your account in just a few steps.<br>Complete a brief questionnaire to select the habit you want to overcome, set your goal (in days), and choose a virtual companion to support you through your journey.</p>
        </div>
      </div>

      <div class="hiw-card">
        <div class="step-content">
          <h3 class="highlight secondary">Track Your Progress Daily</h3>
          <p>Log in every day to track your progress with a quick check-in. Reflect on your feelings, assess your goal progress, and watch your companion grow with every successful day.</p>
        </div>
          <img src="{{url_for('static', filename='images/screenshot-placeholder.jpg')}}"  class="hiw-img">
          <div class="hiw-number-wrap number-2"><div>2</div></div>
      </div>

      <div class="hiw-card">
        <img src="{{url_for('static', filename='images/screenshot-placeholder.jpg')}}" class="hiw-img">
        <div class="hiw-number-wrap"><div>3</div></div>
        <div class="step-content">
          <h3 class="highlight accent">Refine Your Journey</h3>
          <p>Review your progress, celebrate victories, and adjust your goals to keep pushing forward. Every step counts, and HabiTrain keeps you motivated by offering personalized insights, challenges, and rewards.</p>
        </div>
      </div>
  </section>

  <!-- Testimony Section -->
  <section id="testimonial-section" class="testimonials-section">
    <h2 class="fade-in">What Others Are Saying</h2>
    <div class="testimonial-wrapper slide-up">
      <button class="nav-btn prev-btn">❮</button>
      <div id="testimonial-card" class="testimonial-card">
        <img id="testimony-avatar" src="{{url_for('static', filename='images/dog.png')}}" class="testimonial-avatar">
        <div class="testimonial-content">
          <h5 class="quote-icon top">“</h5>
            <h3 id="testimony-name">Cara Lopez</h3>
            <h4 id="testimony-title">AMAZING WEB APP!
                <span id="testimony-rating" class="testimonial-rating">⭐⭐⭐⭐⭐</span>
            </h4>
            <p id="testimony-text">Energy drinks used to control my life — I struggled for years to cut back, trying every method I could find, but nothing really worked. Then I found HabiTrain, and it made all the difference. It gave me the motivation I desperately needed, and honestly, it was so rewarding to see my little puppy grow as I made progress. Breaking this bad habit finally felt doable — and even fun. Thank you, HabiTrain!</p>
            <h5 class="quote-icon bottom">”</h5> 
        </div>
      </div>
      <button class="nav-btn next-btn">❯</button>
    </div>

    <div class="testimonial-bars slide-up">
      <span id="testimony-bar" class="bar active"></span>
      <span id="testimony-bar" class="bar"></span>
      <span id="testimony-bar" class="bar"></span>
      <span id="testimony-bar" class="bar"></span>
    </div>
  </section>

  <!-- Call to action section -->
  <section id="cta-section" class="cta-section slide-up">
    <div class="cta-content">
      <h3>Your journey starts here:</h3>
      <h2><strong>Break free</strong> from bad habits and discover the <strong>best version of yourself</strong></h2>
      <div>
        <a href="#" id="registration-link" class="cta-button">Get Started Today</a>
      </div>
    </div>
    <img src="{{url_for('static', filename='images/journey.png')}}" class="cta-image">
  </section>


  <!-- Footer and Wave Section -->
  {% include '/components/wave.html' %}
  {% include '/components/footer.html' %}
  {% include '/components/footer-bottom.html' %}


  <!-- Html Code for Modals / Popups -->
  {% include '/components/modals.html' %}

<script>
  // Temp variables for test purposes
  // const current_user.is_authenticated = true;
  // const current_user.bad_habit = 0;

  document.addEventListener('DOMContentLoaded', () => {
    setTimeout(() => showSlider(), 0);
    setTimeout(() =>  runAllFunctions("{{ companion }}"), 0);
    setTimeout(() => expectTestimoniesAction(), 0);
  });
</script>

</body>
</html>